
body {
  background-color: #ddd;
  background-repeat: repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAACgCAMAAACsXRuGAAAADFBMVEWIiIjd3d3y8vLm5uZzdc63AAAAbklEQVR42u3ZIQ4AIAwDwI39/8/wAlTFxFUgm5ALmFZV51Iv52Vyx/7CzhdONr3/ylCgQIECBQoUKFCgQIECBQoUKFCgQIECBcrmccGe4qX4vqBAgQIFChQoUKBAgQIFChQoUKBAgQIFij3lX3gBXBBzc8FaGvIAAAAASUVORK5CYII=)
}
h2 {
  text-transform: uppercase;
  color: white;
  background-color: black;
}
div, h2 {
  text-align: center;
}
svg {
  background-color: whitesmoke;
}
div.title, div.title svg {
  background-color: lightgray;
}
div.title {
  width: 1200px;
  margin-bottom: 10px;
}
.chart, .title {
  margin: 0px auto;
  padding: 0px;
}

.axis text, g.item text  {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}
.toolTip>ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.toolTip li.name {
  margin-bottom: 10px;
  padding: 5px;

  color: white;
  background-color: black;

  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px darkgray;
}
.toolTip li.border {
  text-align: left;
}
.toolTip li.border span {
  font-style: italic;
  font-size: smaller;
}
.nodes>image {
  border: solid thin black;
  stroke: black;
}
