
.chart {
  margin: 0px auto;
  padding: 0px;
  background-color: whitesmoke;
}


.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}


.axis text {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
